<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<!-- <button (click)="getData()">Get</button>
<div *ngIf="data">
    <table border="1">
        <tr>
            <td><b>Id</b></td>
            <td><b>Name</b></td>
            <td><b>Price</b></td>
            <td><b>Category</b></td>
            <td><b>Rate</b></td>
            <td><b>Count</b></td>
        </tr>
        <tr *ngFor="let d of data">
            <td>{{d.id}}</td>
            <td>{{d.title}}</td>
            <td>{{d.price}}</td>
            <td>{{d.category}}</td>
            <td>{{d.rating.rate}}</td>
            <td>{{d.rating.count}}</td>
        </tr>
    </table>
</div> -->

<!-- <table border="1">
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
        <td><b>Category</b></td>
        <td><b>Rate</b></td>
        <td><b>Count</b></td>
    </tr>
    <tr *ngFor="let d of users | async">
        <td>{{d.id}}</td>
        <td>{{d.title}}</td>
        <td>{{d.price}}</td>
        <td>{{d.category}}</td>
        <td>{{d.rating.rate}}</td>
        <td>{{d.rating.count}}</td>
    </tr>
</table> -->

<!-- custom Directive -->
<!-- <p appCustomdir>example for Custom Directive</p>
<div appCustomdir>cbfercgrg</div> -->

<!-- Custom Structural Directive -->
<!-- <div *ngIf="!show">
    <p>Custom Structural Directive Example</p>
    <p>here we can write any number of lines of code</p>
</div>
<ng-template [ngIf]="show">
    <p>Custom Structural Directive Example using ng-template</p>
    <p>here we can write any number of lines of code</p>
</ng-template> -->
<!-- above both are same -->
<!-- <div *appRngif="show">
    <p>Custom Structural Directive Example using appRngif</p>
    <p>here we can write any number of lines of code</p>
</div><ng-template [appRngif]="!show">
    <p>Custom Structural Directive Example using ng-template with appRngif</p>
    <p>here we can write any number of lines of code</p>
</ng-template> -->
<!-- above both are same -->

<!-- <app-child-test></app-child-test> -->

<!-- Life Cycle Hooks -->
    <!-- ngOnChnages() -->
        <p>This is App Component</p>
        <input type="text" [(ngModel)]="wish">
        <app-home  [childData]="wish"></app-home>