<p>home Component works!</p>
{{childData}}

<!-- AM is public write like this -->
<!-- <div *ngFor="let m of ts.mobiles">{{m}}</div> -->

<!-- AM is private write like this -->
<!-- <div *ngFor="let m of mobiles">{{m}}</div> -->

<!-- <ul>
    <li>
        <a routerLink="/home/homechild1" routerLinkActive="active">HomeChild1</a>
    </li>
    <li>
        <a routerLink="/home/homechild2" routerLinkActive="active">HomeChild2</a>
    </li>
</ul>
<router-outlet></router-outlet>
<app-home-child1>
    <p id="p1">paragraph1</p>
    <p id="p2">paragraph2</p>
</app-home-child1>

<div class="row">
    <div class="col-6">
        <app-home-child2 [list]="alphabets">
            <h4>Alphabets</h4>
        </app-home-child2>
    </div>
    <div class="col-6">
        <app-home-child2 [list]="numbers">
            <h4>Numbers</h4>
        </app-home-child2>
    </div>
</div> -->
